<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="mySQL" connectionString="Server=localhost;Port=3306;Database=schooldb;Uid=root;Pwd=Ss987654;"/>
  </connectionStrings>
</configuration>